@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
Projeto - Lançamento de Horas
</address>

<address>
    <strong>Lucas Golnich Silva</strong> <br />
    <strong>Telefone: (11)98326-8692</strong> <br />
    <strong>Linkedin:</strong><a href="https://www.linkedin.com/in/lucas-golnich-86a151191/">linkedin.com/in/lucas-golnich</a><br />
    <strong>Email:</strong> <a href="mailto:Lucasgolnich@hotmail.com">lucasgolnich@hotmail.com</a>
</address>