@model Projeto_Luby.ViewModel.LANCAMENTO_HORAS

@{
    ViewBag.Title = "Luby";
}

<div class="alert alert-info">
    <div align="center">
        <h2 class="panel-title">  <i>Pesquisa de Lançamentos </i></h2>
    </div>
</div>

<div class="panel-body">
    <fieldset>
        <legend> <strong>Filtros de pesquisa </strong></legend>
        <div class="row">
            <div class="col-md-3">
                <label class="">
                    Nome:
                </label>
                @Html.DropDownListFor(l => l.NOME, (IEnumerable<SelectListItem>)ViewBag.Desenvolvedor, "Todos", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label>Data:</label>
                <input type="date" name="date" id="data_Inicio" min="2000-01-01" class="form-control" required />
                <p><span style="color:#ff0000;"></span></p>

            </div>
            <div class="col-md-3">
                <label>Data fim:</label>
                <input type="date" name="data" id="data_Fim" min="2000-01-01" class="form-control" required />
                <p><span style="color:#ff0000;"></span></p>

            </div>
            <br />
            <div class="col-md-3">
                <button class="btn btn-info" type="button" id="btnPesquisar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button class="btn btn-warning" type="button" id="btnCadastrar">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Cadastrar
                </button>

            </div>
        </div>
        <div class="col-md-12" style="overflow-x:auto">
            <div id="divResult">

            </div>

        </div>

    </fieldset>
</div>


@section Scripts{
    <script>



       

        $("#btnPesquisar").click(function () {

            var model = {
                NOME: $("#NOME").val(),
                DATA_INICIAL: $("#data_Inicio").val(),
                DATA_FINAL: $("#data_Fim").val()
            }

            $.ajax({
                url: "../Home/PesquisaLancamento",
                type: "POST",
                data: model,
                success: function (dados) {
                    $("#divResult").html(dados)
                }
            });
        })

        $("#btnCadastrar").click(function () {
            window.location.href = "../Home/CadastroLancamento";
        })



    </script>
}