@model Projeto_Luby.ViewModel.PROJETOS

@{
    ViewBag.Title = "Luby";
}

<div class="alert alert-info">
    <div align="center">
        <h2 class="panel-title">  <i>Pesquisa de Projetos </i></h2>
    </div>
</div>

<div class="panel-body">
    <fieldset>
        <legend id="titulo1"> <strong>Filtros de pesquisa </strong></legend>
        <legend id="titulo2" class="hide"> <strong>Editar registro</strong></legend>
        <div class="row">
            <div class="col-md-4">
                <label class="">
                    Nome:
                </label>
                @Html.TextBoxFor(l => l.NOME_PROJETO, new { @class = "form-control", @placeholder = "Nome do Projeto" })
                @Html.HiddenFor(l => l.ID)
            </div>
            <div class="col-md-4">
                <label class="">
                    Responsavel:
                </label>
                @Html.DropDownListFor(l => l.RESPONSAVEL, (IEnumerable<SelectListItem>)ViewBag.Responsaveis, "Todos", new { @class = "form-control" })
            </div>
            <br />
            <div class="col-md-4">
                <button class="btn btn-info" type="submit" id="btnPesquisar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar
                </button>
                <button class="btn btn-warning" type="button" id="btnCadastrar">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Cadastrar
                </button>
                <button type="button" id="btnAlterar" class="btn btn-success hide">
                    <i class="ace-icon fa fa-file-text-o"></i>Alterar
                </button>
                <button type="button" id="btnCancelar" class="btn btn-danger hide" title="Cancelar">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="col-md-12" style="overflow-x:auto">
            <div id="divResult">

            </div>

        </div>
    </fieldset>
</div>

@section Scripts{
    <script>

        $("#btnPesquisar").click(function () {
            var model = {
                NOME: $("#NOME").val(),
                RESPONSAVEL: $("#RESPONSAVEL").val()
            }

            $.ajax({
                url: "../Home/PesquisaProjetos",
                type: "POST",
                data: model,
                success: function (dados) {
                    $("#divResult").html(dados)
                }
            });
        })

        $("#btnCadastrar").click(function () {
            window.location.href = "../Home/CadastroProjetos";
        })

        $("#btnCancelar").click(function () {
            $("#NOME_PROJETO").val('');
            $("#RESPONSAVEL").val('');
            $("#btnPesquisar").removeClass('hide');
            $("#btnCadastrar").removeClass('hide');
            $("#btnAlterar").addClass('hide');
            $("#divResult").removeClass('hide');
            $("#titulo1").removeClass('hide');
            $("#titulo2").addClass('hide');
            $("#btnCancelar").addClass('hide');
        })

        $("#btnAlterar").click(function () {
            var model = {
                NOME_PROJETO: $("#NOME_PROJETO").val(),
                RESPONSAVEL: $("#RESPONSAVEL").val(),
                ID: $("#ID").val(),           
            }
            if (model.NOME_PROJETO == "" || model.RESPONSAVEL == "") {
                alert("Verifique se todos os campos foram preenchidos corretamente!")
            } else {
                $.ajax({
                    url: "../Home/EditarProjeto",
                    type: "POST",
                    data: model,
                    success: function (dados) {
                        if (dados.isSuccess == true) {
                            $("#NOME_PROJETO").val('');
                            $("#RESPONSAVEL").val('');
                            $("#btnPesquisar").removeClass('hide');
                            $("#btnCadastrar").removeClass('hide');
                            $("#btnAlterar").addClass('hide');
                            $("#divResult").removeClass('hide');
                            $("#titulo1").removeClass('hide');
                            $("#titulo2").addClass('hide');
                            $("#btnCancelar").addClass('hide');
                            $("#btnPesquisar").click();
                        }
                        else {
                            alert(dados.mensagemCallback);
                        }
                    }
                });
            }
        })
    </script>
}