<mat-card>
    <mat-card-title>Add Work Hours</mat-card-title>
    <form [formGroup]="workHoursForm">
        <!-- <div>
            <span class="label">Initial Time</span>
            <ngx-mat-timepicker formControlName="dateInit"></ngx-mat-timepicker>                       
        </div>

        <div>
            <span class="label">Final Time</span>
            <ngx-mat-timepicker formControlName="dateEnd"></ngx-mat-timepicker>            
        </div>         -->

        <mat-form-field class="dateTime">
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Start Time" formControlName="dateInit"
                [min]="minDate" [max]="maxDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [color]="color" [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field class="dateTime">
            <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Finish Time" formControlName="dateEnd"
                [min]="minDate" [max]="maxDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                [color]="color" [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="select">
            <mat-label>Developer</mat-label>
            <mat-select formControlName="idDeveloper">
                <mat-option *ngFor="let developer of developers" [value]="developer.id">
                    {{developer.fullName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <div class="col-12">
        <span *ngIf="!workHoursForm.get('dateInit').valid" class="error">
            Error: Initial time is bigger than final time.</span>
    </div>

    <button mat-raised-button (click)="createWorkHour()" color="primary" [disabled]="!workHoursForm.valid">
        Add
    </button>

    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancel
    </button>
</mat-card>