@model IEnumerable<Gerenciamento_de_Horas.Models.Ranking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desenvolvedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desenvolvedor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>

        </tr>
        }
    </tbody>
</table>
