.header {
    display: flex;
    align-items: center;   
    background-color: #3f51b5; 
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffff;
}

.header .logo {
    max-height: 55px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}