<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <label>
        <input type="text" class="form-control" placeholder="Procurar pelo nome" [(ngModel)]="title"/>
      </label>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Procurar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Todos</h4>
    <ul class="list-group" *ngFor="let item of project; let i = index" [class.active]="i == currentIndex">
      <li
        class="list-group-item">
        {{ item.project_name }}
      </li>
      <li
        class="list-group-item">
        {{ item.project_description }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeData()">
      Apagar Todos
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentData">
      <h4>Todos</h4>
      <div>
        <label><strong>Título:</strong></label> {{ currentData.project_name }}
      </div>
      <div>
        <label><strong>Descrição:</strong></label>
        {{ currentData.project_description }}
      </div>
      <a class="badge badge-warning" routerLink="/projects/{{ currentData.project_id }}">
        Editar
      </a>
    </div>

    <div *ngIf="!currentData">
      <br />
      <p>Clique...</p>
    </div>
  </div>
</div>
