<mat-card>
    <mat-card-title>Delete developer</mat-card-title>
    <form [formGroup]="developerForm">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="fullName" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteDeveloper()" color="warn">
        Delete
    </button>
    
    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancel
    </button>
</mat-card>