@model  Controle_de_Horas.Models.Projeto

@{
    ViewBag.Title = "_PartialFormulárioCadastro";
}


<div class="navbar" id="idCadastro">
    <div class="row">
        <h4>
            Central de Projeto - Cadastro
        </h4>
    </div>

    <hr />
    <div class="col-md-7">
        <div class="row">
            <label style="margin-right: 9px;">Descrição</label>
            @Html.TextBoxFor(k => k.Descricao, new { @placeholder = "Pesquisar por Descrição" })
        </div>

        <div class="row">
            <label style="margin-right: 24px;">Periodo</label>
            @Html.TextBoxFor(k => k.Data_Inicio, new { @Value = DateTime.Now.ToShortDateString(), @placeholder = "Inicio" })
            até
            @Html.TextBoxFor(k => k.Data_Fim, new { @Value = DateTime.Now.ToShortDateString(), @placeholder = "Fim" })
        </div>

        <br />
        <div class="col-md-4" style="margin-left: 55px;">
            <button class="btn btn-default" id="btnVoltar">Voltar</button>
            <button class="btn btn-success" id="btnSalvarProj">Salvar</button>
        </div>
    </div>
</div>

<script>
    $("#btnVoltar").click(function () {
        window.location.href = "../Projeto/index";
    });

    $("#btnSalvarProj").click(function () {
        var paramInsert = {
            Descricao: $('#Descricao').val(),
            Data_Inicio: $('#Data_Inicio').val(),
            Data_Fim: $('#Data_Fim').val()
        }

        if (paramInsert.Descricao == "") {
            alert("Preencher o campo Descrição do Projeto.")
        }
        else {

            $.ajax({
                url: "../Projeto/CadastrarProjeto",
                type: "POST",
                data: { paramInsert: paramInsert },
                success: function (dados) {
                    alert(dados)
                    window.location.href = "../Projeto/index";
                }
            });
        }
    });
</script>