<mat-card-title style="text-align: center;">Novo Desenvolvedor</mat-card-title>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome" formControlName="nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Idade" formControlName="idade" name="idade">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Github" formControlName="github" name="github">
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Tecnologias">
        <mat-chip *ngFor="let tecnologia of tecnologias" [selectable]="selectable" [removable]="removable"
          (removed)="remove(tecnologia)">
          {{tecnologia.nome}}
          <mat-icon matChipRemove *ngIf="removable" class="material-icons">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Nova tecnologia" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="close()">
    Cancelar
  </button>
  <button [disabled]="form.invalid" mat-raised-button type="button" color="primary" (click)="salvar()">
    Salvar
  </button>
</mat-card>