USE [master]
GO
/****** Object:  Database [Controle_de_Horas]    Script Date: 27/03/2021 17:56:32 ******/
CREATE DATABASE [Controle_de_Horas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Controle_de_Horas', FILENAME = N'C:\DADOS\SQL SERVER\Controle_de_Horas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Controle_de_Horas_log', FILENAME = N'C:\DADOS\SQL SERVER\Controle_de_Horas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Controle_de_Horas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Controle_de_Horas]
GO
USE [Controle_de_Horas]
GO
/****** Object:  Table [dbo].[CADASTRO_DESENVOLVEDOR]    Script Date: 27/03/2021 17:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CADASTRO_DESENVOLVEDOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Cargo] [varchar](50) NULL,
 CONSTRAINT [PK_CADASTRO_DESENVOLVEDOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANCAMENTO_DE_HORA]    Script Date: 27/03/2021 17:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANCAMENTO_DE_HORA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DescriProjeto] [varchar](50) NULL,
	[NomeDev] [varchar](50) NULL,
	[Horas_trabalhadas] [time](7) NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
 CONSTRAINT [PK_LANCAMENTO_DE_HORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJETO]    Script Date: 27/03/2021 17:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJETO](
	[IdProjeto] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Data_Inicio] [datetime] NULL,
	[Data_Fim] [datetime] NULL,
 CONSTRAINT [PK_PROJETO] PRIMARY KEY CLUSTERED 
(
	[IdProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
