@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Pirenópolis, nº 700<br />
    Cidade Soberana, Gru - SP 07161-360<br />
    <abbr>WhatsApp:</abbr>
    (11) 96769-0128
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:karineyasmimsouza@live.com">karineyasmimsouza@live.com</a><br />
</address>