@{
    ViewData["Title"] = "Pagina Inicial";
}

    <div class="text-center">
        <h1 class="display-4">Seja Bem-Vindo</h1>
        <h3 class="display-4">Produto desenvolvido para gerenciar banco de horas</h3>
        
    </div>
