body {
    background-color: #dddddd;
}


h1 {
    color: Blue;
}

div {
    font-family: monospace;
}


table {
    border: 1px solid black;
    background-color: #f3f3f3;
    text-align: center;
}

th {
    
    background-color: #9d9d9d;
    color: white;
    text-align: center;
}
