<mat-card>
    <mat-card-title>New Project</mat-card-title>
    <form [formGroup]="projectForm">
        <mat-form-field>
            <input matInput placeholder="Project Name" 
                formControlName ="projectName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" 
                formControlName="projectDescription">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProject()" color="primary" [disabled]="!projectForm.valid">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancel
    </button>
</mat-card>