<mat-card>
    <mat-card-title>Edit Project</mat-card-title>
    <form [formGroup]="projectForm">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName=projectName>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName=projectDescription>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProject()" color="primary" [disabled]="!projectForm.valid">
        Edit
    </button>
    
    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancel
    </button>
</mat-card>